
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --font-handwritten: 'Space Mono', 'JetBrains Mono', monospace;

  --font-default: var(--font-handwritten);
  --font-interface: var(--font-handwritten);
  --font-monospace: var(--font-handwritten);

  --primary-color: #56fe83;
  --primary-light: #56fe831a;
  --secondary-color: #000000;
  --secondary-light: #0000001a;
}
*, *::before, *::after {
  font-family: var(--font-handwritten) !important;
}
.theme-light {
  --accent-h: 136;   
  --accent-s: 99%;
  --accent-l: 67%;
}
.theme-dark {
  --accent-h: 136;   
  --accent-s: 99%;
  --accent-l: 67%;
}
body{
  --icon-color: var(--primary-color);
  --tab-outline-color: var(--primary-color);
  --divider-color: var(--primary-color);
  --text-highlight-bg:var(--primary-light);
  --checkbox-marker-color:var(--secondary-color);
}


