
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  --font-handwritten: 'Space Mono', 'JetBrains Mono', monospace;

  --font-default: var(--font-handwritten);
  --font-interface: var(--font-handwritten);
  --font-monospace: var(--font-handwritten);

  --primary-color: #F72800;
  --primary-light: #fd00404d;
  --secondary-color: #000000;
  --secondary-light: #0000001a;
}
*, *::before, *::after {
  font-family: var(--font-handwritten) !important;
}
.theme-light {
  --accent-h: 0;   
  --accent-s: 100%;
  --accent-l: 48%;
}
.theme-dark {
  --accent-h: 0;   
  --accent-s: 100%;
  --accent-l: 48%;
}
body{
  --icon-color: var(--primary-color);
  --tab-outline-color: var(--primary-color);
  --divider-color: var(--primary-color);
  --text-highlight-bg:var(--primary-light);
}


